<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Categories of Alcohol</title>
</head>
<body style="background-color: rgb(124, 124, 124);">

    <!-- TODO: Must go through the categories array and somehow display each one in a <li></li>
    USE forEach(categories) ??? -->

    <ul>
        <!-- <% if (locals.categories) { %>
            <li>
                <%= categories.id %>
            </li>
        <% }; %> -->
        <% categories.forEach((category) => { %>
            <li><a href="/categories"><% category %></a></li>
        <% }); %>
    </ul>

    <!-- OR -->

    <!-- <ul>
        <% if (locals.categories) { %>
            <li>
                <%= categories.id %>
                <%= categories.name %>
            </li>
        <% } %>
    </ul> -->

    <!-- Beer productId: beer -->
    <!-- <a href="/products:beer"><h1><%= categories.name %></h1></a> -->
    <!-- Winde productId: wine -->
    <!-- <a href="/products/wine"><h1><%= categories.name %></h1></a> -->
    <!-- Whiskey productId: whiskey -->
    <!-- <a href="/products/whiskey"><h1><%= categories.name %></h1></a> -->
    <!-- Rum productId: rum -->
    <!-- <a href="/products/rum"><h1><%= categories.name %></h1></a> -->
    <!-- Tequila productId: tequila -->
    <!-- <a href="/products/tequila"><h1><%= categories.name %></h1></a> -->
</body>
</html>