<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Categories of Alcohol</title>
</head>
<body style="background-color: rgb(124, 124, 124);">
    <!-- Beer productId: beer -->
    <a href="/products:beer"><h1><%= category %></h1></a>
    <!-- Wine productId: wine -->
    <a href="/products/wine"><h1><%= category %></h1></a>
    <!-- Whiskey productId: whiskey -->
    <a href="/products/whiskey"><h1><%= category %></h1></a>
    <!-- Rum productId: rum -->
    <a href="/products/rum"><h1><%= category %></h1></a>
    <!-- Tequila productId: tequila -->
    <a href="/products/tequila"><h1><%= category %></h1></a>
</body>
</html>